extends  ../layout

block content
  .row.panel.h2 Мои последние задачи:
  br
  .row
    if tasks.length > 0
      table
        thead
          tr
            th Выполнено?
            th Название
            th Описание
            th
        tbody.index-check-list
          - each task in tasks
            tr(class='task-row-' + task.id)
              td
                input.task-checkbox(type='checkbox', data-id=task.id, checked=task.complete)
              td
                a(href='/task/show/' + task.id)=task.title
              td
                =task.description
              td
                span.task-delete.button.allert(data-id=task.id) Удалить задачу  

        
    if tasks.length == 0
      .alert-box.radius.h2 Задач нет. Ты крут!
