extends  ../layout

block content
  .row.panel.h2 Мои последние задачи:
  br
  .row
    if tasks.length > 0
      table
        thead
          tr
            th Выполнено?
            th Название
            th Описание
        tbody
          - each task in tasks
            tr
              td
                input#task-checkbox(type='checkbox', data-id=task.id, checked=task.complete)
              td
                =task.title
              td
                =task.description

        
    if tasks.length == 0
      .alert-box.radius.h2 Задач нет. Ты крут!
