extends  ../layout

block content
  .row.panel Hello to my task editor!
  br
  .row
    - each task in tasks
      .medium-12
        =task.id + ') ' + task.title
        
    if tasks.length == 0
      .alert-box.radius Your task-list is empty!
