extends ../layout

block content

  h1.row Добавить новое задание

  .row
    form(action='/createTask', method='post')
      input(type='text', name='title')
      input(type='text', name='description')
      input.button(type='submit', value='Новое задание!')
