extends ../layout

block content

  h1.row Регистрация

  .row
    form(action='/signup', method='post')
      input(type='email', name='email')
      input(type='password', name='password')
      input.button(type='submit', value='Зарегистрироваться!')
