extends  ../layout

block content
  .row.panel Задачи на доске "#{board.title}":
  br
  .row
    if tasks.length > 0
      table
        thead
          tr
            th Выполнено?
            th Название
            th Описание
            th Автор
        tbody.check-list
          - each task in tasks
            tr(class='task-row-' + task.id)
              td
                input.task-checkbox(type='checkbox', data-id=task.id, checked=task.complete)
              td
                =task.title
              td
                =task.description
              td
                =task.owner.username

        
    if tasks.length == 0
      .alert-box.radius.h2 Задач на доске нет. Попроси друзей накидать!
      
    a.button(href='/task/new/' + board.id) Добавить сюда новую задачу
